@import 'tailwindcss';
@utilities {
    body {
        user-select: none;
    }
    .font-pacifico {
        font-family: 'Pacifico', cursive;
    }
    .font-greatvibes {
        font-family: 'Great Vibes', cursive;
    }
    .font-dancing {
        font-family: 'Dancing Script', cursive;
    }
    .font-satisfy {
        font-family: 'Satisfy', cursive;
    }
}